<div class="articles">

  {% for post in site.posts %}
      {% capture index %}{% cycle 0, 1, 2 %}{% endcapture %}

      {% cycle '<div class="row">', nil, nil%}
      <div class="four columns">
        <a href="{{ site.baseurl }}{{ post.url }}" class="link">
        <h3>{{ post.title }}</h3>
        <div class="justify">
          {% if post.abstract %}
            {{ post.abstract }}
          {% else %}
            {{ post.content | truncatewords:50 | strip_newlines }}
          {% endif %}
        </div>
        </a>
      </div>
      {% cycle nil, nil, '</div>' %}

  {% endfor %}
  {% cycle nil, '</div>', '</div>', '</div>' %}
</div>
