<div class="articles">

  {% for post in site.posts %}

    {% cycle '<div class="row">', '', '' %}
      <div class="four columns">
        <a href="{{ site.baseurl }}{{ post.url }}" class="link">
        <h3>{{ post.title }}</h3>
        <div class="justify">
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | truncatewords:25 }}
          {% endif %}
        </div>
        </a>
      </div>
    {% cycle '', '', '</div>' %}

  {% endfor %}

  {% cycle '', '</div>', '</div>', '</div>' %}
</div>
